.wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  background: var(--background);
  overflow: hidden;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}

@media (max-width: 768px) {
  .wrapper {
    height: 140px;
  }
}

.image {
  object-fit: contain;
  padding: 16px;
}
